extends layout

block content
      .w3-col.m10
        header.w3-container.w3-border-bottom
            h1 
                i.fas.fa-file
                |  Datafile 
                span(style="font-size: 0.5em;") #{datafile.datafile_name}
        .w3-container.w3-section
            .w3-col.m12
                .w3-card-4.w3-white.w3-margin
                    header.w3-container 
                        h6 
                            b Datafile Info
                        table.w3-table
                            tr 
                                th Name 
                                td= datafile.datafile_name
                            tr 
                                th Size (Mb)
                                td= datafile.size.toFixed(2)
                            tr 
                                th Belongs to
                                td= datafile.tablespace_name
                            tr 
                                th Status
                                td= datafile.status
                            tr 
                                th Auto Extensible 
                                td= datafile.auto_extensible
            .w3-col.m12
                .w3-card-4.w3-white.w3-margin
                    header.w3-container 
                        h6 
                            b Datafile Usage
                    .datafile_pie



