extends layout

block content
      .w3-col.m10(style="height: 80%;")
        header.w3-container.w3-border-bottom
            h1 
                i.fas.fa-copy
                |  Datafiles
        .w3-container.w3-section.w3-border-bottom(style="overflow: scroll;height: 100%;")
            table.w3-table.w3-bordered.w3-hoverable(style=" height: 100%; width: 100%;")
                tr
                    th ID 
                    th Datafile Name
                    th Status
                    th Size
                    th Max Size
                    th % Occupied
                    th
                each datafile in datafiles
                    a(href="/datafiles/" + datafile.datafile_id)
                        tr 
                            td= datafile.datafile_id
                            td= datafile.datafile_name
                            td= datafile.status
                            td= datafile.size
                            td= datafile.max_size
                            td #{Math.round((datafile.size / datafile.max_size) * 100)} %
                            td
                                a(href="/datafiles/" + datafile.datafile_id)
                                    i.fas.fa-eye
