extends layout

block content
      .w3-col.m10(style="height: 85%;")
        header.w3-container.w3-border-bottom
            h1 
                i.fas.fa-users 
                |  Users
        .w3-container.w3-section.w3-border-bottom(style="overflow: scroll;height: 100%;")
            table.w3-table.w3-bordered.w3-hoverable(style=" height: 100%; width: 100%;")
                tr
                    th ID 
                    th Username
                    th Status
                    th Default Tablespace 
                    th Temp Tablespace
                    th Last login
                    th
                each user in users
                        tr
                            td= user.user_id
                            td= user.username
                            td= user.account_status
                            td= user.default_tablespace
                            td= user.temporary_tablespace
                            if user.last_login
                                td= user.last_login
                            else 
                                td Unknown
                            td
                                a(href="/users/" + user.user_id)
                                    i.fas.fa-eye
