extends layout

block content
      .w3-col.m10
        header.w3-container.w3-border-bottom
            h1 Users
        .w3-container.w3-section
            table.w3-table.w3-border.w3-bordered.w3-hoverable
                tr
                    th ID 
                    th Username
                    th Status
                    th Default Tablespace 
                    th Temp Tablespace
                    th Last login
                each user in users
                    a(href="/users/" + user.user_id) 
                        tr
                            td= user.user_id
                            td= user.username
                            td= user.account_status
                            td= user.default_tablespace
                            td= user.temporary_tablespace
                            td= user.last_login
