extends layout

block content
    .w3-col.m10(style="height:100%;")
        header.w3-container.w3-border-bottom
            h1 
                i.fas.fa-user 
                |  User #{user.username}
        .w3-container(style="height:90%;")
            .w3-col.m4
                .w3-card-4.w3-white.w3-margin
                    header.w3-container 
                        h6 
                            b User Info
                        table.w3-table
                            tr
                                td Name
                                td= user.username
                            tr
                                td Status
                                td= user.account_status
                            tr
                                td Default Tablespace
                                td= user.default_tablespace
                            tr
                                td Last login
                                if (user.last_login != "")
                                    td= user.last_login
                                else 
                                    td Unknow
            .w3-col.m8
                .w3-card-4.w3-white.w3-margin
                    header.w3-container 
                        h6 
                            b User's Quota
                    .user_tablespace_table
            .w3-col.m12(style="height:60%;")
                .w3-card-4.w3-white.w3-margin(style="height:100%;")
                    header.w3-container
                        h6 
                            b User's Roles
                    .user_role_table(style="height:90%; overflow: scroll;")

